<mat-dialog-content>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{user.lastName}} {{user.firstName}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <table>
        <tbody>
          <tr>
            <td>ID</td>
            <td>{{user.id}}</td>
          </tr>
        </tbody>
      </table>

    </mat-card-content>
  </mat-card>

</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button
          type="button"
          (click)="onOk()">OK</button>
</mat-dialog-actions>
